
<div fxLayout="row" fxLayoutGap="10px">
    <button mat-raised-button color="primary" (click)="GridData()" style="margin-bottom:20px">Get Grid Data</button>
    <button mat-raised-button color="primary" (click)="ExpandableGridData()" style="margin-bottom:20px">Get Expanded Data</button>    
</div>
<div fxLayout="column" fxLayoutGap="10px">
    <lcu-data-grid 
        expand
        [config]="GridParameters"
        [dynamic-components]="DynamicComponents">
        
    </lcu-data-grid>
</div>
<router-outlet></router-outlet>

